<!doctype html>
<html ng-app>
<head>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="jumbotron">
	<h1>Go Fabric</h1>
</div>
<div class="container">
	<div class="row">
		<form action="/cmd" method="post">
			<label for="input">Input</label>
			<input type="text" name="cmd" placeholder="put your cmd here">
		</form>
	</div>
	<div class="row">
		<h2>Last results</h2>
		<pre>{{.}}</pre>
	</div>
</div>
</body>
</html>